<div class="jumbotron text-center">
    <h1>Angular Text Editor with Limit Validation</h1>

</div>
<div class="container">
    <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">



        <div class="form-group">
            <mat-form-field class="example-full-width">
                <input id="nombreTema" matInput formControlName="nombreTema" placeholder="Titulo del Tema" />
            </mat-form-field><br>
            <div *ngIf="formdata.controls.nombreTema.errors && formdata.controls.nombreTema.touched" class="error">
                Adjuntar nombre del Tema.
            </div>
        </div>

        <div class="form-group">
            <label for="email">Introducción:</label>
            <angular-editor [placeholder]="'Ingrese aqui el texto...'" formControlName="introduccionTema">
            </angular-editor>
            <div *ngIf="formdata.controls.introduccionTema.errors && formdata.controls.introduccionTema.touched"
                class="error">
                Descripcion requerida (Max 1000 - Min 5).
            </div>
        </div>


        <div class="form-group">
            <label for="email">Instrucciones:</label>
            <angular-editor [placeholder]="'Ingrese aqui el texto...'" formControlName="instruccionesTema">
            </angular-editor>
            <div *ngIf="formdata.controls.instruccionesTema.errors && formdata.controls.instruccionesTema.touched"
                class="error">
                Descripcion requerida (Max 1000 - Min 5).
            </div>
        </div>


        <div class="form-group">
            <label for="email">Bibliografia:</label>
            <angular-editor [placeholder]="'Ingrese aqui el texto...'" formControlName="bibliografiaTema">
            </angular-editor>
            <div *ngIf="formdata.controls.bibliografiaTema.errors && formdata.controls.bibliografiaTema.touched"
                class="error">
                Descripcion requerida (Max 1000 - Min 5).
            </div>
        </div>


        <!-- <button type="submit" class="btn btn-primary">Register</button> -->
        <button mat-button type="submit" class="mat-raised-button mat-primary"
            [disabled]="formdata.invalid">Ingresar</button>
    </form>
</div>