<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-toolbar-row>
        <span>Web</span>
        <span class="example-spacer"></span>
        <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">lock_open</mat-icon> -->
    </mat-toolbar-row>
</mat-toolbar>
<mat-card class="cabeza">

    <h1>{{tema.nombreTema}}</h1>
</mat-card>


<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Introducción"> 
      <!--{{tema.introduccionTema}}-->
      <p [innerHTML]="tema.introduccionTema"></p>
    </mat-tab>

    <mat-tab label="Instrucciones">
      <!--{{tema.instruccionesTema}}-->
      <p [innerHTML]="tema.instruccionesTema"></p> 
    </mat-tab>
    
    <mat-tab label=" Experimentos"> 
      tres 
    </mat-tab>
  </mat-tab-group>  