<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-title>Materia</ion-title>
      <ion-icon class="botonSalida" name="exit-outline" (click)="logout()"></ion-icon>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-card>
      <ion-card-content padding>
        <p>Hola {{nombreEstudiante}}</p>
      </ion-card-content>
    </ion-card>

    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="addMateria()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" (click)="sensor()">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Sensor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)="profile()">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>