<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h3>Registro</h3>
    </ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content padding>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    
    <form>      
      <ion-list>
        <ion-item lines="full">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text"  #nombreEstudiante required  ></ion-input>         
        </ion-item>        

        <ion-item lines="full">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" #apellidoEstudiante required ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="text" #correoEstudiante required ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" #usuarioEstudiante required ></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"  #passEstudiante required></ion-input>
        </ion-item>
        
        <ion-button share="round" color="secondary" padding (click)="procesoRegistro(nombreEstudiante, apellidoEstudiante, correoEstudiante ,usuarioEstudiante, passEstudiante )" >Registro</ion-button>
      </ion-list>

    </form>
  </ion-card-content>


  <ion-row>
    <div text-center>
      If you don't have an account, please <a (click)="formLogin()">
        login</a> first!
    </div>
    <br>
  </ion-row>
</ion-card>
